@model SalaryTabulatorDTO

@{
    ViewBag.Title = "Details";
    Layout = "";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel">Detalles del </h4>tabulador salarial
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabulatorLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabulatorLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hourlywages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hourlywages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualHolidayBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualHolidayBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualBonusDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualBonusDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualVacationDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualVacationDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
