@model IEnumerable<EmployeeDTO>

@{
    ViewBag.Title = "Empleados";
}
@section Styles{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/Spinner.css" rel="stylesheet" />

<style>
    .dataTables_processing {
        top: 110px !important;
        z-index: 11000 !important;
    }
</style>
}
<h2>Empleados</h2>
<tr />
<div class="jumbotron">
    @using (Html.BeginForm("Search", "employee", null, FormMethod.Post, new { Id = "searchForm", @class = "form-horizontal" }))
    {
        
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="control-label">Departamento:</label>
            @Html.DropDownList("DepartamentId", null, "-- Seleccione un departamento --",htmlAttributes: new { @class = "form-control" })
        </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">Tabulador salarial:</label>
                @Html.DropDownList("SalaryTabulatorId", null, "-- Seleccione un tabulador --", htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">Numero de empleado:</label>
                <div>

                    <input name="KeyEmplooye" id="KeyEmplooye" type="text" class="form-control">
                </div>
            </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">Nombre:</label>
                        <div>
                            <input name="Name" id="Name" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 ">
                            <input id="btnConsultar" type="submit" value="Consultar" class="btn btn-primary" data-url="@Url.Action("Create", "Employee", new { })"/>
                        </div>
                    </div>
    }

</div>

<div class="panel panel-default" style="padding-bottom:60px">

    <div class="row">
        <div class="row">
            <div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-4 col-xs-offset-7">

                <button style="margin:25px" data-toggle="tooltip" data-placement="left" title="Crear" aria-label="Left Align" class="buttonNew btn btn-success btn-sm btn-size-table" data-url="@Url.Action("Create", "Employee", new { })">
                    Nuevo empleado
                </button>
            </div>

        </div>
    </div>

    <div class="table-responsive">
        <table id="employeesDT" class="table  table-striped" data-url="@Url.Action("CustomServerSideSearchAction", "Employee", new { })">
            <thead>
                <tr class="bg-primary text-white">
                    <th>
                        @Html.DisplayNameFor(model => model.DepartamentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryTabulatorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
        
        <input id="urlEditEmployee" type="hidden" value="@Url.Action("Edit", "Employee")" />
        <input id="urlDetailsEmployee" type="hidden" value="@Url.Action("Details", "Employee")" />
        <input id="urlActiveEmployee" type="hidden" value="@Url.Action("Active", "Employee")" />
    </div>
<div class="container-fluid">

    <!-- The modal -->
    <div class="modal fade" id="flipFlop" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="load" class="modal-content">

            </div>
        </div>
    </div>

</div>
<div id="deleteModal" style="display:none;">
    
        <div class="modal-body">
            <span class="text-center text-modal"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary activeButton" id="activeButton"><span class="text-active"></span></button>
            <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
        </div>
</div>

@section Scripts{

<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>

<script src="~/Scripts/DatatablesConfig/customDataTable.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.es.min.js" type="text/javascript"></script>

    <script src="~/Scripts/Employee/index.js" type="text/javascript"></script>
    
}
